% view.layout = 'linkcheck';
% stash.title = 'Check links';
<{formBlock}>
  %= await ctx.inputTag('url', {type: 'url', value: 'https://mojolicious.org/perldoc'})
  %= await ctx.submitButtonTag('Check')
<{/formBlock}>
%= await ctx.formFor('check', {class: 'check-form'}, await formBlock());
