% view.layout = 'linkcheck';
% stash.title = 'Check links';
<{formBlock}>
  %= await ctx.inputTag('url', {type: 'url', value: 'https://mojolicious.org/perldoc'})
  %= ctx.submitButtonTag('Check')
<{/formBlock}>
%= ctx.formFor('check', {}, await formBlock());
