% view.layout = 'linkcheck';
% stash.title = 'Check links';
<{formBlock}>
  %= await tags.input('url', {type: 'url', value: 'https://mojolicious.org/perldoc'})
  %= await tags.submitButton('Check')
<{/formBlock}>
%= await tags.formFor('check', {class: 'check-form'}, await formBlock());
